extends layout

block content
  section.tile-container
    img.sticky-image(src="images/skyline.png")
    section.tile-content
      .form-banner
        .welcome-message
          h1 HOTELS, RESORTS, HOSTELS & MORE
        .search-box 
          .destination  
            i.fa.fa-search
            input(placeholder="Enter destination or property")
          .start-date-picker
          .end-date-picker
          .occupancy-box