extends layout

block content
  section.tile-container
    img.sticky-image(src="images/skyline.png")
    section.tile-content
      .form-banner
        .welcome-message
          h1 HOTELS, RESORTS, HOSTELS & MORE