extends layout

block content
    .results-container.container
        .top-filters
            .col-md-3.top-filter
                .text
                .filter-placeholder
                        .checklist-box
                        .checklist-text
            .col-md-3.top-filter
                .filter-placeholder
                        .checklist-box
                        .checklist-text
                .filter-placeholder
                        .checklist-box
                        .checklist-text
                .filter-placeholder
                        .checklist-box
                        .checklist-text
            .col-md-3.top-filter
                .filter-placeholder
                        .checklist-box
                        .checklist-text
                .filter-placeholder
                        .checklist-box
                        .checklist-text
                .filter-placeholder
                        .checklist-box
                        .checklist-text
            .col-md-3.top-filter
                .filter-placeholder
                        .checklist-box
                        .checklist-text
        .row
            .col-md-3
                .map-placeholder
                .filter-container
                    .filter-placeholder
                        .checklist-box
                        .checklist-text
                    .filter-placeholder
                        .checklist-box
                        .checklist-text
                    .filter-placeholder
                        .checklist-box
                        .checklist-text
                .filter-container
                    .filter-placeholder
                        .checklist-box
                        .checklist-text
                    .filter-placeholder
                        .checklist-box
                        .checklist-text
                    .filter-placeholder
                        .checklist-box
                        .checklist-text
            .col-md-9
                span.headline We’re searching through our database and partner websites for the best deals
                .suppliers-container
                    span.supplier.supplier-1
                        img.supplier-agoda(src="/images/sup1.png")
                    span.supplier.supplier-2
                        img(src="/images/sup2.png")
                    span.supplier.supplier-3
                        img(src="/images/sup3.png")
                    span.supplier.supplier-4
                        img(src="/images/sup4.png")
                    span.supplier.supplier-5
                        img(src="/images/sup5.png")
                    span.supplier.supplier-6
                        img(src="/images/sup6.png")
                .dummy-loading
                    .thumbnail.col-md-4
                    .text.col-md-8
                        .textline.line-1
                        .textline.line-2
                        .textline.line-3
                        .textline.line-4
                .dummy-loading
                    .thumbnail.col-md-4
                    .text.col-md-8
                        .textline.line-1
                        .textline.line-2
                        .textline.line-3
                        .textline.line-4
                .dummy-loading
                    .thumbnail.col-md-4
                    .text.col-md-8
                        .textline.line-1
                        .textline.line-2
                        .textline.line-3
                        .textline.line-4