@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

$link_active: #488bf8;
$text_normal: #666;
$main_color_1: #f68a73;
$main_color_2: #ffdf8f;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

.main-header {
  height: 60px;
  background-color: #fff;
  padding: 0 16px;
  color: $text_normal;


  .logo {
    display: inline-block;
    line-height: 60px;
  }
  .logo-image {
    width: 89px;
    height: 37px;
  }

  ul.nav-items {
    display: inline-block;

    li {
      display: inline-block;
      text-decoration: none;
      cursor: pointer;

      a {
        display: inline-block;
        line-height: 60px;
        padding: 0 10px;
        color: $text_normal;

        &:active, &:hover, &:focus {
          text-decoration: none;
          color: $link_active;
        }
      }
    }
  }
}

.tile-container {
  position: relative;
  min-height: 700px;
  padding-top: 56.5%;
  background-color: $main_color_1;
  background: linear-gradient($main_color_1, $main_color_2);

  img.sticky-image {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .tile-content {
    position: fixed;
    top: 60px;
    left: 60px;
  }
}